body{
    background-color: #D9D9D9;
    margin: 0px;
    padding: 0px;
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #A49E8D;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
}

.navbar ul li{
    float: right;
    padding: 10px 15px;
}

.navbar ul li a{
    color: #D9D9D9;
    display: block;
    text-align: center;
    text-decoration: none;
}

.navbar .logout a{
    color: #DA4167;
}

.navbar .selected{
    background-color: #689689;
}




/* Meal Prep Page */
.prep{
    display: flex;
    align-items: flex-start;
}

.prep .week{
    display: flex;
    margin: 25px 75px;
}

.prepItem{
    display: flex;
    background-color: black;
}

.sun{
    margin: 0px 10px;
    color: #D9D9D9;
    background-color: #504136;
    width: 175px;
    height: 500px;
    text-align: center;
}

.mon{
    margin: 0px 10px;
    color: #D9D9D9;
    background-color: #504136;
    width: 175px;
    text-align: center;
}

.tue{
    margin: 0px 10px;
    color: #D9D9D9;
    background-color: #504136;
    width: 175px;
    text-align: center;
}

.wed{
    margin: 0px 10px;
    color: #D9D9D9;
    background-color: #504136;
    width: 175px;
    text-align: center;
}

.thur{
    margin: 0px 10px;
    color: #D9D9D9;
    background-color: #504136;
    width: 175px;
    text-align: center;
}

.fri{
    margin: 0px 10px;
    color: #D9D9D9;
    background-color: #504136;
    width: 175px;
    text-align: center;
}   

.sat{
    margin: 0px 10px;
    color: #D9D9D9;
    background-color: #504136;
    width: 175px;
    text-align: center;
}





/* Index Page */
.home{
    display: flex;
    align-items: flex-start;
}

.grocery{
    background-color: #689689;
    width: 275px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grocery h2{
    color: white;
    text-align: center;
    font-weight: bold;
}

.grocery .list{
    background-color: #D9D9D9;
    border: 5px solid #504136;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
    width: 255px;
}

.pinboard{
    background-color: #A49E8D;
    display: flex;
    flex: 1;
    border: 10px solid #504136;
    margin: 20px;
    min-height: 500px;
}

.pinboard .pinItem{
    background-color: #D9D9D9;
    width: 200px;
    height: 200px;
    margin: 25px;
    margin-left: 120px;
    overflow: hidden;
    display: flex;
    flex: wrap;
}



/* PANTRY */
.pantry{
    display: flex;
    align-items: flex-start;
}

/* PANTRY: Search Section*/
.search{
    background-color: #A49E8D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 200px;
}

.search .topic{
    background-color: #D9D9D9;
    margin: 5px;
    width: 150px;
}

.search p{
    font-weight: bold;
    text-align: center;
}

/* PANTRY: Recipe Index/Search Results*/
.recipeIndex{
    background-color: #A49E8D;
    display: flex;
    flex: 1;
    margin: 15px;
    min-height: 400px;
}





/* Reviews */
.reviews img{
    width: 600px;
    height: 300px;
    margin: 50px;
}

.reviews .rate{
    background-color: #D9D9D9;
    border: 10px solid #504136;
    width: 300px;
    margin-left: 200px;
    text-align: center;
}

/* Login */
.login{
    background-color: #A49E8D;
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 10px solid #504136;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    min-height: 400px;
    
}

.formtext{
    color:#D9D9D9;
    margin-left: 325px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.form{
    color: #D9D9D9;
    margin-top: 50px;
    margin-left: 310px;
}

.loggedoutnavbar ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #A49E8D;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
}

.loggedoutnavbar ul li{
    float: right;
    padding: 10px 15px;
    color:#767676;
}

.loggedoutnavbar ul li a{
    color: #D9D9D9;
    display: block;
    text-align: center;
    text-decoration: none;
}

.loggedoutnavbar .selected{
    background-color: #689689;
    color:#D9D9D9;
}